body {
    background: #be93c5;
    background: -webkit-linear-gradient(to right, #7bc6cc, #be93c5);
    background: linear-gradient(to right, #7bc6cc, #be93c5);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}   